<button discipline-create callback="disciplineCallback($value)" class="btn btn-success">Criar Disciplina</button>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Nome</th>
            <th></th>
        </tr>
    </thead>
    <tr ng-repeat="discipline in disciplines">
        <td>{{discipline.Name}}</td>
        <td>
            
        </td>
    </tr>
</table>