@model App.Web.Models.ProfileViewModel

@using (Html.BeginForm())
{
    <div class="input-group">
        @Html.LabelFor(m => m.Name, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Name)
    </div>

    <button type="submit" class="btn btn-info">Save</button>
}